body{
	margin: 50px;
	padding-left: 50px;
	border-style:solid;
	border-width: 1px;
}

#Main{
	float: left;
	border-radius: 10px;
	width: 82%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#elem{
	float: left;
	border-radius: 10px;
	width: 84%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 50px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#logo{
	clear: both;
	float: left;
	border-radius: 10px;
	width:100%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#LoginMenu{
	clear: both;
	float: left;
	border-radius: 10px;
	width:100%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#PublicMenu{
	clear: both;
	float: left;
	border-radius: 10px;
	width:100%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#EditMenu{
	clear: both;
	float: left;
	border-radius: 10px;
	width:100%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#sidebar{
	clear: both; /*don't let any other div float up, force below */
	float: left;
	border-radius: 10px;
	width: 15%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}
